// ==============================
// 変数
// ==============================
$font-color_default: #777;
$font-color_date: #e37b89; // TODO:リファクタ必要
$color_corp: #6699ff;
$color_base: #fff;
$font-color_sub1: #b6a489;

$site-width: 980px;

$font-size_s: 12px;
$font-size_m: 14px;
$font-size_default: 16px;
$font-size_l: 18px;
$font-size_xl: 24px;
$font-size_xxl: 30px;
$font-size_3l: 38px;

$space_s: 5px;
$space_m: 10px;
$space_l: 15px;
$space_xl: 20px;
$space_xxl: 30px;
$space_3l: 40px;

$font-family_corp: "Noto Sans JP", sans-serif;

// マップ型変数
$breakpoints: (
  "sm": "screen and (max-width: 414px)",
  "md": "screen and (max-width: 768px)",
  "lg": "screen and (max-width: 1000px)",
  "xl": "screen and (max-width: 1200px)"
) !default;

// ==============================
// mixin
// ==============================
@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

// ==================================
// base
// ==================================
html,
body {
  width: 100%;
  color: $font-color_default;
  font-size: $font-size_default;
  line-height: 1.6;
  font-family: Quicksand, 游ゴシック体, "Yu Gothic", YuGothic,
    "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo,
    Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; // TODO:リファクタ必要（変数にする）
  text-size-adjust: 100%;
  letter-spacing: 0.1em;
}

p,
a {
  -webkit-font-smoothing: antialiased;
}

a {
  color: $font-color_default;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: $color_corp;
  transition: 0.3s;
}

img {
  width: 100%;
  vertical-align: bottom;
}

// ==================================
// header
// ==================================
.header {
  box-sizing: border-box;
  width: 100%;
  height: 80px;
  color: $font-color_default;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: $space_xl;
  padding-right: $space_xl;
  position: fixed;
  transition: 0.3s;
  z-index: 2;
  &.float-active {
    transition: 0.3s;
    background: rgba(0, 13, 5, 0.7);
    color: $color_base;
  }
  @include mq() {
    height: 60px;
    padding-right: $space_l;
    padding-left: $space_l;
  }
  .title {
    font-size: $font-size_xxl;
    font-family: $font-family_corp;
    font-weight: bold;
    color: $color_base;
  }
}

// ==================================
// menu
// ==================================
@include mq() {
  // TODO:リファクタ必要（PCで修正が入る際も考えてincludeはクラスの中に書く）
  .nav-menu {
    display: block;
    position: absolute;
    top: 0;
    right: -100%;
    background: rgba(255, 255, 255, 0.85);
    width: 100%;
    height: 100vh;
    padding-top: 50px;
    transition: 0.5s;
    &.active {
      transition: 0.5s;
      transform: translateX(-100%);
      z-index: 2;
    }
  }
}

.menu {
  display: flex;
  align-items: center;
  font-size: $font-size_xl;
  font-family: $font-family_corp;
  &-item {
    margin-right: $space_l;
    font-size: 17px;
  }
  &-link {
    -webkit-font-smoothing: initial;
    color: $color_base;
  }
  @include mq() {
    display: block;
    font-size: $font-size_xxl;
    &-item {
      margin-right: initial;
    }
    &-link {
      -webkit-font-smoothing: initial;
      display: block;
      padding: $space_l;
      text-align: center;
      color: #777;
    }
  }
}

.menu-trigger {
  display: none;
  @include mq() {
    display: inline-block;
  }
  transition: all 0.4s;
  box-sizing: border-box;
  position: relative;
  width: 40px;
  height: 32px;
  z-index: 3;
  span {
    display: inline-block;
    transition: all 0.4s;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #fff;
    border-radius: 4px;
    &:nth-of-type(1) {
      top: 0;
    }
    &:nth-of-type(2) {
      top: 14px;
    }
    &:nth-of-type(3) {
      bottom: 0;
    }
  }
  &.active span {
    &:nth-of-type(1) {
      transform: translateY(12px) rotate(-45deg);
      background-color: #777;
    }
    &:nth-of-type(2) {
      opacity: 0;
    }
    &:nth-of-type(3) {
      transform: translateY(-15px) rotate(45deg);
      background-color: #777;
    }
  }
}

// ==================================
// hero
// ==================================
.hero {
  background-image: url("../images/barbar.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  &-title {
    font-size: 60px;
    font-family: $font-family_corp;
    color: $color_base;
    text-shadow: 0 0 20px rgba(227, 123, 137, 0.4), 0 0 50px rgba(0, 0, 0, 0.8);
    @include mq() {
      text-align: center;
    }
  }
  br {
    display: none;
    @include mq() {
      display: block;
    }
  }
}

// ==================================
// container
// ==================================
.container {
  width: $site-width;
  @include mq() {
    width: 100%;
  }
  margin-left: auto;
  margin-right: auto;
  padding-top: 80px;
  padding-bottom: 80px;
  &-fluid {
    width: 100%;
  }
  &-title {
    font-family: $font-family_corp;
    text-align: center;
    font-size: $font-size_3l;
    margin-bottom: $space_3l;
    @include mq() {
      width: 70%;
      margin-left: auto;
      margin-right: auto;
    }
  }
  &-body {
    @include mq() {
      padding-left: $space_l;
      padding-right: $space_l;
    }
  }
  &-ornament {
    .container-title {
      span {
        display: inline-block;
        background: $color_base;
        padding: 0 10px;
        position: relative;
        z-index: 1;
      }
      &:before,
      &:after {
        border-top: 1px solid #2e1f1a;
        content: "";
        display: block;
        position: relative;
        z-index: 0;
      }
      &:before {
        top: 28px;
      }
      &:after {
        top: -28px;
      }
      &-lightGray {
        span {
          background: #f8f7fc;
        }
      }
    }
  }
}

// ==================================
// news
// ==================================
.news {
  width: 70%;
  height: 60px;
  overflow-y: scroll;
  margin: 0 auto;
  border-radius: 5px;
  background: #f8f7fc; // TODO:リファクタ必要（複数使いまわしている箇所があるため、変数にまとめる）
  padding: $space_l $space_xl;
  &-item {
    margin-bottom: $space_s;
  }
  &-date {
    color: $font-color_date;
    font-weight: bold;
    font-family: $font-family_corp;
    -webkit-font-smoothing: initial;
    margin-right: $space_m;
  }
  &-title {
    font-size: $font-size_m;
  }
}

// ==================================
// panel
// ==================================
.panel {
  box-sizing: border-box;
  background: #fff;
  position: relative;
  transition: 0.5s;
  &-hover {
    display: inline-block;
    transition: 0.5s;
    &:hover {
      transform: scale(1.03);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      transition: 0.5s;
    }
  }
  &-border {
    border-radius: 5px;
    border: 5px solid #f6f5f4;
    &:hover {
      transform: scale(1.03);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      transition: 0.5s;
      border: 5px solid #e37b89;
    }
  }
  &-head,
  &-foot {
    padding: $space_m;
  }
  &-head {
    text-align: center;
    color: $color_corp;
  }
  &-active {
    border: 5px solid $color_corp;
  }
  &-badge {
    background: #e37b89;
    color: #fff;
    position: absolute;
    top: -20px;
    right: -20px;
    border-radius: 60px;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 1.3em;
    padding: 15px 0;
    box-sizing: border-box;
    font-size: $font-size_s;
    transform: rotate(15deg);
    @include mq() {
      top: -20px;
      right: -13px;
    }
  }
  &-group {
    &-float {
      overflow: hidden;
    }
    &-flex {
      display: flex;
      flex-wrap: wrap;
    }
    .panel {
      float: left;
      // margin-right: $space_l;
      margin-bottom: $space_l;
      box-sizing: border-box;
    }
  }
  &-staff {
    width: calc(25% - #{$space_l});
    @include mq() {
      width: calc(50% - #{$space_l});
    }
  }
  &-cource {
    width: calc(33.3% - #{$space_l});
    @include mq() {
      width: 100%;
      margin: 0 auto $space_l auto;
    }
  }
}

// ==================================
// form
// ==================================
.form {
  width: 100%;
  &-m {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    @include mq() {
      width: 100%;
    }
  }
}

.input {
  display: block;
  margin-bottom: $space_m;
  border: 3px solid #f6f5f4;
  border-radius: 4px;
  outline: none;
  height: 60px;
  font-size: $font-size_l;
  color: $font-color_default;
  box-sizing: border-box;
  &-l {
    padding: 5px 10px;
    width: 100%;
  }
  &:focus {
    border: 3px solid $color_corp;
  }
  &-textarea {
    height: 200px;
  }
}

::placeholder {
  color: #ccc;
}

// ==================================
// btn
// ==================================
.btn {
  border: none;
  cursor: pointer;
  border-radius: 5px;
  box-sizing: border-box;
  transition: 0.3s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  &:hover {
    transform: translateY(-3px);
    transition: 0.3s;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }
  &-corp {
    color: $color_base;
    background: $color_corp;
    background: -webkit-linear-gradient(to right, #b6cefd, $color_corp);
    background: linear-gradient(to right, #b6cefd, $color_corp);
  }
  &-l {
    padding: $space_l $space_xxl;
    width: 100%;
    font-size: $font-size_l;
  }
}

// ==================================
// footer
// ==================================
.footer {
  background: #555;
  color: $color_base;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  @include mq() {
    font-size: $font-size_s;
  }
}

// ==================================
// Utility
// ==================================
.bgColor-lightGray {
  // TODO:リファクタ必要（色が後から修正が入り、赤色になったら？）
  background: #f8f7fc;
  box-shadow: 0px 0px 8px 2px #ddd inset;
}

.mb-xxl {
  margin-bottom: $space_xxl;
}

.ft-corp {
  font-weight: bold;
  font-family: $font-family_corp;
}

.ft-l {
  font-size: $font-size_xl;
}

//==========
// カウンター
//==========
.counter {
  text-align: right;
}
/*contact*/
#contact {
  margin-bottom: 100px;
}

/*フォーム*/
form {
  width: 50%;
  margin: 0 auto;
}
input,
textarea {
  font-size: 18px;
  margin-bottom: 15px;
  margin: 0 auto;
}
input[type="text"] {
  width: 100%;
  height: 60px;
  border: none;
  background: #f6f5f5;
  padding: 10px;
  box-sizing: border-box;
}
textarea {
  width: 100%;
  height: 400px;
  border: none;
  background: #f6f5f5;
  padding: 10px;
  box-sizing: border-box;
}
input[type="submit"] {
  background: #333;
  border: none;
  padding: 15px 30px;
  color: $color_base;
  float: right;
}
// input:-webkit-autofill {
//   -webkit-box-shadow: 0 0 0px 1000px #f6f5f5 inset;
// }

/*バリデーション*/
.help-block {
  font-size: 14px;
  // margin-left: 10px;
}
/*エラー時*/
.has-error input,
.has-error textarea {
  border: 1px solid #ff4d4b;
}
.has-error .help-block,
.has-error label {
  color: #ff4d4b;
}
/*サクセス時*/
.has-success input,
.has-success textarea {
  border: 1px solid #2fb4ce;
}
.has-success .help-block,
.has-success label {
  color: #2fb4ce;
}

//=========================
// 店舗情報
//=========================
.shop-info caption {
  font-weight: bold;
  font-size: 1.2em;
}
.shop-info th {
  width: 5em;
}
table {
  // margin-bottom: 10px;
  max-width: 100%;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}
tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}
th {
  display: table-cell;
  vertical-align: inherit;
  font-weight: bold;
  text-align: -internal-center;
}
td {
  display: table-cell;
  vertical-align: inherit;
}
table th,
table td {
  border: 1px solid #ddd;
  padding: 6px;
}

// ==================================
// オーナーエリア
// ==================================

.owner-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.owner-fhoto {
  margin: 0px;
}
.owner-img {
  width: 300px;
  margin-bottom: 5%;
}
.owner-msg {
  width: 30%;
  margin-left: 5%;
  @include mq(md) {
    width: 90%;
    margin: 0 auto;
  }
}
